services:
  wordpress:
    image: {{ wp_image }}
    ports:
      - "{{ wordpress_port }}:80"
    environment:
      WORDPRESS_DB_HOST: {{ mysql_master }}:3306
      WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wordpress_db_password }}"
      WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mysql_master

  mysql_master:
    image: {{ mysql_image }}
    command: ["--server-id={{ mysql_master_server_id }}", "--log-bin=mysql-bin", "--binlog-format=ROW"]
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ wordpress_db_root_password }}"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_PASSWORD: "{{ wordpress_db_password }}"
    volumes:
      - mysql_master_data:/var/lib/mysql

  mysql_slave:
    image: {{ mysql_image }}
    command: ["--server-id={{ mysql_slave_server_id }}", "--log-bin=mysql-bin", "--binlog-format=ROW", "--read-only=ON"]
    ports:
      - "3307:3306"
    depends_on:
      - mysql_master
    environment:
      MYSQL_ROOT_PASSWORD: "{{ wordpress_db_root_password }}"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_PASSWORD: "{{ wordpress_db_password }}"
    volumes:
      - mysql_slave_data:/var/lib/mysql

volumes:
  wp_data:
  mysql_master_data:
  mysql_slave_data: