services:
  wordpress:
    image: {{ wp_image }}
    ports:
      - "{{ wordpress_port }}:80"
    environment:
      WORDPRESS_DB_HOST: {{ mysql_master }}:3306
      WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wordpress_db_password }}"
      WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mysql_master

  mysql_master:
    image: {{ mysql_image }}
    command: ["--server-id={{ mysql_master_server_id }}", "--log-bin=mysql-bin", "--binlog-format=ROW"]
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ wordpress_db_root_password }}"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_PASSWORD: "{{ wordpress_db_password }}"
    volumes:
      - mysql_master_data:/var/lib/mysql

  mysql_slave:
    image: {{ mysql_image }}
    command: ["--server-id={{ mysql_slave_server_id }}", "--log-bin=mysql-bin", "--binlog-format=ROW", "--read-only=ON"]
    ports:
      - "3307:3306"
    depends_on:
      - mysql_master
    environment:
      MYSQL_ROOT_PASSWORD: "{{ wordpress_db_root_password }}"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_PASSWORD: "{{ wordpress_db_password }}"
    volumes:
      - mysql_slave_data:/var/lib/mysql

  mysqld-exporter-master:
    image: {{ mysqld_exporter_image }}
    command:
      - '--config.my-cnf=/etc/.my.cnf'
      - '--collect.auto_increment.columns'
      - '--collect.info_schema.innodb_metrics'
      - '--collect.info_schema.tablestats'
      - '--collect.info_schema.userstats'
      - '--collect.perf_schema.eventswaits'
      - '--collect.perf_schema.file_events'
    volumes:
      - {{ monitoring_dir }}/.my_master.cnf:/etc/.my.cnf:ro
    depends_on: [mysql_master]

  mysqld-exporter-slave:
    image: {{ mysqld_exporter_image }}
    command:
      - '--config.my-cnf=/etc/.my.cnf'
      - '--collect.auto_increment.columns'
      - '--collect.info_schema.innodb_metrics'
      - '--collect.info_schema.tablestats'
      - '--collect.info_schema.userstats'
      - '--collect.perf_schema.eventswaits'
      - '--collect.perf_schema.file_events'
    volumes:
      - {{ monitoring_dir }}/.my_slave.cnf:/etc/.my.cnf:ro
    depends_on: [mysql_slave]


  prometheus:
    image: {{ prometheus_image }}
    ports:
      - "{{ prometheus_port }}:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    volumes:
      - prometheus_data:/prometheus
      - {{ monitoring_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - mysqld-exporter-master
      - mysqld-exporter-slave

  grafana:
    image: {{ grafana_image }}
    ports:
      - "{{ grafana_port }}:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    volumes:
      - grafana_data:/var/lib/grafana
      - {{ monitoring_dir }}/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - {{ monitoring_dir }}/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
      - {{ monitoring_dir }}/provisioning/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus

volumes:
  wp_data:
  mysql_master_data:
  mysql_slave_data:
  prometheus_data:
  grafana_data:
