apiVersion: 1
providers:
  - name: 'local-mysql'
    orgId: 1
    folder: 'MySQL'
    type: file
    disableDeletion: false
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards
