global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'mysqld-master'
    static_configs:
      - targets: ['mysqld-exporter-master:9104']
  - job_name: 'mysqld-slave'
    static_configs:
      - targets: ['mysqld-exporter-slave:9104']
